<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login | Connectify</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-white-900">
    <nav class="bg-gray-200 flex flex-row p-2 pt-4 pb-4 justify-between">
      <h2 class="text-blue-500 font-bold text-3xl">Connectify</h2>
      <a
        href="/"
        class="bg-blue-500 p-2 text-gray-100 rounded-xl pl-4 pr-4 hover:opacity-90"
        >Home</a
      >
    </nav>
    <section
      class="p-10 border-l-4 border-blue-500 ml-2 mt-2 hover:bg-gray-100 w-60 space-y-6 flex flex-col"
    >
      <h1 class="font-thin">login with google</h1>
      <a
        href="/auth/google"
        class="bg-blue-500 p-2 text-gray-100 rounded-md pl-6 hover:opacity-90 w-28"
        >Google +</a
      >
    </section>
  </body>
</html>
